<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200_1280.png);">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h1><strong><%= @list.name.capitalize %></strong></h1>
        <p>Has <%= @list.bookmarks.size %> movies</p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <div class="d-flex align-items-center px-3">
        <%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-ghost' %>
      </div>
    </div>
    <div class="row">
    <% @list.movies.each do |movie| %>
      <div>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="">
            <%= image_tag(movie.poster_url, :class => "img")%>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
            <%# image tag is a short way to create an actual image %>
            <h5 class="">Rating <%= movie.rating %></h5>
            <p><% bookmark.comment %></p>
            <%= link_to "Delete",bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-ghost' %>
          </div>
      <% end %>
    </div>
  </div>


  </div>
</div>
